body{
    margin: 0;
}
.wrapper{
    margin: auto;
}
.message-box{
    border: 1px solid #000000;
    text-align: center;
}
.create-message{
    text-align: center;
}
.message-list{
    list-style: none;
}